* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
    background: lightgrey;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: rgb(71, 134, 100);
    color: black;
    font-size: 2.5em;
}

form {
    display: flex;
    align-items:center;
    float: left;
    width: 45%;
    margin-left: 27.5%;
    border: 2px solid black;
    border-radius: 1%;
    margin-bottom: 2%;
    padding: 1%;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 1000;
    font-size: 1.5em;
    margin: 1%;
}

#datainicial,
#datacorridos,
#datauteis {
    width: 70%;
    text-align: center;
}

.mensagens-erro {
    color: red;
    font-weight: bold;
    margin-top: 2.5%;
    margin-left: 15%;
}

.some {
	opacity: 0;
	transition: 0.5s;
}

#submit {
    background-color: black;
    border-radius: 4px;
    color: rgb(71, 134, 100);
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    width: 96px;
    margin-inline: 45%;
    border: 2   px solid;
    margin-top: 2.5%;
    margin-left: 47%;
    text-align: center;
    cursor: pointer;
}

#cabecalho-feriado {
    color: rgb(71, 134, 100);
    font-weight: bold;
    margin-top: 2.5%;
    margin-left: 15%;
}

#mensagens-feriado {
    color: rgb(71, 134, 100);
    font-weight: bold;
    margin-top: 2.5%;
    margin-left: 15%;
}
