* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background: lightgrey;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: navy;
    color: lightskyblue;
}

form {
    display: flex;
    align-items:center;
    float: left;
    width: 75%;
    margin-left: 15%;
    border: 10px solid navy;
    border-radius: 1%;
    margin-bottom: 2%;
    padding: 1%;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 1000;
    font-size: 1.2em;
    margin: 1%;
}

#datainicial,
#datacorridos,
#datauteis {
    width: 50%;
}

#submit {
    background-color: navy;
    border-radius: 4px;
    color: lightskyblue;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    width: 96px;
    margin-inline: 45%;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
}
